/*------------------------------------------------------------------
                        FONTS
-------------------------------------------------------------------*/

@font-face
{
  font-family: 'ostrich-regular';
  src: url(../fonts/ostrich-sans/ostrich-regular.ttf);
}

@import url(https://fonts.googleapis.com/css?family=Lato);

/*------------------------------------------------------------------
                        BOOTSTRAP STYLES
-------------------------------------------------------------------*/
.nav > li > a:hover, .nav > li > a:focus{
  background-color:#B5C3D5;
  outline:none;
}

.navbar{
  margin-bottom:0;
}

.navbar button{
  background:#ccc;
}

.navbar span{
  background:#ededed;
}

.navbar a{
  text-align:center;
}

.nameWilson a{
  color: #288BA8;
}

/*------------------------------------------------------------------
                        DEFAULT STYLES
-------------------------------------------------------------------*/
body{
  font-family: 'Lato', sans-serif;
  background:#fff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a, a:hover{
  color:black;
}

a:hover{
   transition:background-color,color .3s ease-in-out;
   color: #288BA8;
}

section {
  /*margin:100px 0;*/
}

/*
scrollbar
*/
body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background-color: #288BA8;
}



/*------------------------------------------------------------------
                        HEADER STYLES
-------------------------------------------------------------------*/
header{
  position: absolute;
  background:#ededed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nameWilson{
  position: fixed;
  left: 15%;
  top: 0;
  color: black;
  z-index: 80;
}
/*------------------------------------------------------------------
                        FOOTER STYLES
-------------------------------------------------------------------*/
footer{
  text-align:center;
  height:52px;
  background:#ededed;
  line-height:52px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  z-index: 100;
}

footer a + a{
  padding: 25px;  
}

footer a:hover{
  text-decoration: none;
}

/*------------------------------------------------------------------
                        ABOUT
-------------------------------------------------------------------*/
.about {
  height: 100%;
  background: #bcdee7 url("../images/backgrounds/bg.JPG") no-repeat center center fixed;
    background-size: 120% auto;
    position: fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font: normal 14px/1.618em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  z-index: 2;
}
.about:before {
    content: "";
    height: 0px;
    padding: 0px;
    border: 40em solid #313440;
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 2;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: puff_portrait 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    animation: puff_portrait 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}
h1, h2 {
    font-weight: 400;
    margin: 0px 0px 5px 0px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 16px;
}
h11 {
  font-size: 11px;
}
p {
    margin: 0px;
}
.profile-card {
  background: #00ccff;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
    z-index: 2;
  overflow: hidden;
    opacity: 0;
    margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -60%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0 ,0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.profile-card header {
    width: 179px;
    height: 280px;
    padding: 40px 20px 30px 20px;
    display: inline-block;
    float: left;
    border-right: 2px dashed #EEEEEE;
    background: #FFFFFF;
    color: #000000;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}
.profile-card header h1 {
    color: #288BA8;
}
.profile-card header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px;
    cursor:pointer;
}

.profile-card header a > img {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    /*Preventing profile pic dragging*/
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.profile-card header a:hover > img {
    -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.profile-card .profile-bio {
    width: 270px;        
    height: 180px;
    display: inline-block;
    float: right;
    padding: 100px 20px 30px 20px;
  background: #FFFFFF;
    color: #333333;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}
.profile-social-links {
    width: 218px;        
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 15px 20px;
  background: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}
.profile-social-links li {
    list-style: none;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    float: left;
    width: 33.3%;
    text-align: center;
}
.profile-social-links li a {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 6px;
    position: relative;
    overflow: hidden!important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-social-links li a img {
    position: relative;
    z-index: 1;
}
.profile-social-links li a:before {
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 36px;
    height: 36px;
    opacity: 1;
    -webkit-transition: transform 0.4s ease, opacity 1s ease-out;
    transition: transform 0.4s ease, opacity 1s ease-out;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-social-links li a:hover:before {
    -webkit-animation: ripple 1s ease forwards;
    animation: ripple 1s ease forwards;
}
.profile-social-links li a img,
.profile-social-links li a svg {
    width: 24px;
}


@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-size: 100% auto;
    }
    body:before {
        width: 0px;
    }
    @-webkit-keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }
      100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        } 
    }
    @keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }
      100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        } 
    }
}
@media screen and (min-height: 480px) {
  .profile-card {
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
  .profile-card header {
        width: auto;
        height: auto;
        padding: 15px 20px;
        display: block;
        float: none;
        border-right: none;
    }
        .profile-card .profile-bio {
        width: auto;
        height: auto;
        padding: 280px 10px 30px 10px;
        display: block;
        float: none; 
        }
}
@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-size: 100% auto;
    }
    body:before {
        width: 0px;
    -webkit-animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
}
@-webkit-keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
  100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    } 
}
@keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
  100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    } 
}
@-webkit-keyframes puff_portrait {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
  100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    } 
}
@keyframes puff_portrait {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
  100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    } 
}
@-webkit-keyframes puff_landscape {
  0% {
    top: 100%;
    width: 0px;
    padding-bottom: 0px;
  }
  100% {
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
  } 
}
@keyframes puff_landscape {
  0% {
    top: 100%;
    width: 0px;
    padding-bottom: 0px;
  }
  100% {
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
  } 
}
@-webkit-keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }
  100% {
        -webkit-border-radius: 0px;
    } 
}
@keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }
  100% {
        border-radius: 0px;
    } 
}

@-webkit-keyframes moveDown {
    0% {
        top: 50%;
    }
  50% {
     top: 40%;
    }
    100% {
       top: 100%;
    } 
}
@keyframes moveDown {
    0% {
        top: 50%;
    }
  50% {
     top: 40%;
    }
    100% {
       top: 100%;
    } 
}
@-webkit-keyframes moveUp {
    0% {
        background: #00ccff;
        top: 100%;
    }
  50% {
     top: 40%;
    }
    100% {
       top: 50%;
       background: #E0E0E0;
    } 
}
@keyframes moveUp {
    0% {
        background: #00ccff;
        top: 100%;
    }
  50% {
     top: 40%;
    }
    100% {
       top: 50%;
       background: #E0E0E0;
    } 
}
@-webkit-keyframes materia_landscape {
    0% {
        background: #E0E0E0;
    }
    50% {
        -webkit-border-radius: 4px;
    }
    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
    }
}
@keyframes materia_landscape {
    0% {
        background: #E0E0E0;
    }
    50% {
        border-radius: 4px;
    }
    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        border-radius: 4px;
    }
}
@-webkit-keyframes materia_portrait {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 280px;
    height: 485px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
  }
}
@keyframes materia_portrait {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 280px;
    height: 485px;
    background: #FFFFFF;
    border-radius: 4px;
  }
}
@-webkit-keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
  100% { 
        opacity: 1;
        margin-top: -20px;
    } 
}
@keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
  100% { 
        opacity: 1;
        margin-top: -20px;
    } 
}
@-webkit-keyframes scaleIn {
    0% {
        -webkit-transform: scale(0);
    }
  100% { 
        -webkit-transform: scale(1);
    } 
}
@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
  100% { 
        transform: scale(1);
    } 
}
@-webkit-keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0); 
    }
    50%, 100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
    }
}
@keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0); 
    }
    50%, 100% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
    }
}
/*------------------------------------------------------------------
                        DOWNLOAD CV
-------------------------------------------------------------------*/

.downloadCV h1, .CVBtn h1 {
  margin-bottom:3rem;
  font-family:sans-serif;
  color:pink;
}

.downloadCV, .CVBtn {
  position:relative;
  border:0;
  margin:0;
  padding:0;
  cursor:pointer;
  font-size:1.25rem;
  font-weight: bold;
  color:rgba(0,0,0,0);
  background: transparent;
  border-radius: 8.25rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.downloadCV:hover:before,
.CVBtn:hover:before {
  box-shadow: 0px 15px 20px rgba(40, 139, 168, 0.4);
  transform: translateY(-7px);
}

.downloadCV,
.downloadCV:after,
.downloadCV:before,
.CVBtn,
.CVBtn:after,
.CVBtn:before {
  padding:.6875rem 2rem;
  -webkit-transition:-webkit-transform 0.75s,background-color .125s;
  -moz-transition:-moz-transform 0.75s,background-color .125s;
  -ms-transition:-ms-transform 0.75s,background-color .125s;
  transition:transform 0.75s,background-color .125s;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
}

.downloadCV:after,
.downloadCV:before,
.CVBtn:after,
.CVBtn:before {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 4rem;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden;

}

.downloadCV:before,
.CVBtn:before {
  z-index:2;
  color:#fff;
  content:attr(data-label);
}
.downloadCV:before {
  background-color:#288BA8;
}

.CVBtn:before {
  background-color: #28a882;
}


.downloadCV:after,
.CVBtn:after {
  z-index:1;
  background-color:#999;
  background-repeat:no-repeat;
  background-position:center center;
  background-image:url(data:image/gif;base64,R0lGODlhEAAQAPIAAJmZmf///7CwsOPj4////9fX18rKysPDwyH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -ms-transform:rotateX(180deg);
  transform:rotateX(180deg);
  content:'';
}

.downloadCV:active:before {
  background-color:#27a7cc;
}

.CVBtn:active:before {
  background-color: #27cc9b;
}

.downloadCV.loading,
.CVBtn.loading {
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -ms-transform:rotateX(180deg);
  transform:rotateX(180deg);
}


/*------------------------------------------------------------------
                        PROJECTS
-------------------------------------------------------------------
.projects{
  position: absolute;
  background-color: white;
  z-index: 3;
  height: 100%;
}
*/

